// code starts at 320px
@font-face {
    font-family: 'THICCBOI-ExtraBold';
    src: url('../../utils/fonts/thiccboi/THICCCBOI-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'THICCBOI-SemiBold';
    src: url('../../utils/fonts/thiccboi/THICCCBOI-SemiBold.ttf') format('truetype');
}

.objectives-main-container {
        position: relative;

        .outer-layer{
            padding: 0.99rem 0.63rem;
            margin: 1.31rem 0.44rem 0 0.44rem;
            
            min-width: 19.125rem;
            // max-width: 101.9375rem;
            
            border-radius: 2.75rem;
            background: rgba(239, 243, 243, 0.7);
            position: relative;
            box-sizing: border-box;
            overflow-x: wrap;
            
            .objectives-first-container{
                .objectives-section{
                    min-width: 17.875rem;
                    max-width: 99.125rem;
                    height: 29.625rem;
                    display: flex;
                    flex-direction: column;
                    border-radius: 2.75rem;
                    background: #FFF;
                    position: relative;
                    overflow: hidden;

                    .objectives-header{
                        display: flex;
                        position: relative;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        align-items: center;
                        justify-content: center;
                        margin: -5rem 0.19rem 0 0.19rem;

                        h1{
                            font-family: 'THICCBOI-ExtraBold';
                            font-size: 3.5rem;
                        }

                    }

                    .objectives-content {
                        display: flex;
                        min-width: 13.12144rem;
                        max-height: 12.11694rem;
                        align-items: center;  /* Vertically center the content */
                        justify-content: center;  /* Horizontally center the content */
                        margin-left: 0.43rem;
                        margin-right: 0.38rem;
                        // border: solid black 1px;
                    
                    
                    .cybersecurity-img {
                        object-fit: contain;    
                        width: 100%;
                        height: 100%;
                        // z-index: 2;
                    }
                    
                    @media (min-width: 425px){
                        
                            min-width: 20.49556rem;
                            min-height: 17.295rem;
                        .cybersecurity-img{
                           height: 100%;
                           width: 100%;
                        }
                    }

                    @media (min-width: 525px){
                        margin-top: 1.5rem;
                    }
                    }

                    @media (min-width: 425px){
                        height: 34.696rem;
                    }
                    @media (min-width: 768px){
                        height: 27.9375rem;
                    }
                }
            
                }
            .objectives-second-container{
                margin-top: 1.5rem;

                .objectives-info-section{
                    min-width: 17.9375rem;
                    flex-shrink: 0;
                    min-height: auto;                
                    border-radius: 2.75rem;
                    background: #FFF;
                    position: relative;
                    overflow: hidden;

                    


                    .usersafety-header{
                        margin: 2.5rem 1.31rem 0 1.31rem;
                        display: flex;
                        text-align: center;
                        justify-content: center;

                        h2{
                                display: flex;
                                color: #52CAC8;
                                font-size: 3rem;
                                font-weight: 700;
                                font-family: 'THICCBOI-ExtraBold';
                                text-wrap: wrap;
                            } 
                    }

                    .privacy-header{
                        margin: 0 0.62rem 0 0.69rem;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        h2{
                            color: #52CAC8;
                            font-family: 'THICCBOI-ExtraBold';
                            font-size: 3rem;
                            font-weight: 700;
                        }

                        @media (min-width: 425px){
                            margin: 0 3.75rem 0 3.75rem
                        }
                    }
                    .datasecurity-header{
                        display: flex;
                        text-align: center;
                        justify-content: center;

                        h2{
                            color: #52CAC8;
                            font-family: 'THICCBOI-ExtraBold';
                            font-size: 3rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    .usersafety-content{
                        p{
                            color: #000;
                            text-align: center;
                            font-family: 'THICCBOI-SemiBold';
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin-right: 0.19rem;
                            margin-left: 0.62rem;
                        }
                    }
                    .usersafety-img-container{
                        min-width: 11.05069rem;
                        min-height: 9.53206rem;
                        margin: 1rem;

                        .safety-img{
                            object-fit: contain;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            border-radius: 0.5rem;
                        }
                    }
                    .privacy-content{
                        text-align: center;
                        p{
                            color: #000;
                            font-family: 'THICCBOI-SemiBold';
                            font-size: 1rem;
                            font-weight: 500;
                            line-height: normal;
                            margin: 0 1rem 0 1rem;
                        }
                    }
                    .privacy-img-container{
                        min-width: 17.125rem;
                        min-height: 17.38694rem;
                        .privacy-img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            border-radius: 0.5rem;
                        }
                    }
                    .datasecurity-content{
                        margin-right: 0.25rem;
                        margin-left: 0.44rem;
                        text-align: center;

                        p{
                            color: #000;
                            font-family: 'THICCBOI-SemiBold';
                            font-size: 1rem;
                            font-weight: 500;
                            line-height: normal;
                            min-width: 17.75rem;
                            min-height: 19.25rem;
                        }
                    }
                    .datasecurity-img-container{
                        min-width: 15.54138rem;
                        min-height: 14.22156rem;
                        margin: 1rem;

                        .datasecurity-img{
                            height: 100%;
                            width: 100%;    
                            object-fit: contain;
                            border-radius: 0.5rem;
                        }
                    }
            
                }
            }
    }
    @media (min-width: 768px){
        .outer-layer{
            .objectives-first-container{
                .objectives-section{
                    min-width: 44.5rem;
                    // height: 27.9375rem;
                    // max-width: 99.125rem;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    border-radius: 2.75rem;
                    background: #FFF;
                    position: relative;

                    .objectives-header{
                        display: flex;
                        position: relative;
                        font-weight: 800;
                        align-items: center;
                        justify-content: center;
                        // margin: 0 1.75rem 0 1.75rem;
                    }    
                    .objectives-content {
                        display: flex;
                        min-width: 24.51844rem;
                        min-height: 25.99056rem;
                        margin-left: 1rem;
                        align-items: center;  /* Vertically center the content */
                        justify-content: center;  /* Horizontally center the content */
                        margin-right: 0.38rem;
                        // margin-top: 2rem;         
                    
                        .cybersecurity-img {
                            object-fit: contain;
                            width: 60%;
                            height: 100%;
                        }
                    }
                }
            }   
            .objectives-second-container{
                margin-top: 2.25rem;

                .objectives-info-section{
                    min-width: 44.5rem;
                    // min-height: 481.375rem;                
                    border-radius: 2.75rem;
                    background: #FFF;
                    position: relative;
                    overflow: hidden;


                    .usersafety-header{
                        margin: 1.5rem 1.64rem 0 1.62rem;                 
                        text-align: left;
                        justify-content: left;

                        h2{
                                min-width: 20.5625rem;
                                min-height: 8.875rem;
                                display: flex;
                                color: #52CAC8;
                                font-family: 'THICCBOI-ExtraBold';
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                    }
                    .privacy-header{
                        margin: 0 1.64rem 0 1.62rem;                 
                        display: flex;
                        text-align: right;
                        justify-content: right;
                        h2{
                            color: #52CAC8;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    .datasecurity-header{
                        margin: 0 1.64rem 0 1.62rem;                 
                        text-align: left;
                        justify-content: left;
                        
                        h2{
                            color: #52CAC8;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    .alignment-safety-container{
                        display: flex;
                        width: 100%;
                        // border: solid;
                        margin-top: -10%;
                        align-items: center;

                            p{
                                color: #000;
                                text-align: left;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                // margin: 0.5rem 1.64rem 0 1.62rem;  
                                display: flex;
                                align-self: center;
                                justify-self: center;      
                                width: 50%;             
                                margin-left: auto;
                                margin-right: 1rem;

                            }

                            .usersafety-img-container{
                                min-width: 470%;
                                min-height: 20rem;
                                display: flex;
                                // border: solid;
    
                                .safety-img{
                                    object-fit: contain;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        
                    }

                    .alignment-privacy-container{
                        display: flex;
                        flex-direction: row-reverse;
                        // border: solid;
                        align-items: center;

                        p{
                            color: #000;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            width: 50%;
                        }
                    
                        .privacy-img-container{
                            min-width: 25rem;
                            min-height: 30rem;
                            // border: solid;
                            .privacy-img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;

                            }
                        }
                    }
                    .alignment-security-container{
                        display: flex;
                        align-items: center;
                        // border: solid;
                        height: 100%;

                        p{
                            color: #000;
                            font-weight: 500;
                            line-height: normal;
                            min-width: 17.75rem;
                            min-height: 19.25rem;
                            width: 50%;
                            text-align: center;  
                            margin-left: auto;
                            margin-right: 1rem; 
                        }
                    
                        .datasecurity-img-container{
                            min-width: 200%;
                            min-height: 100%;
                            display: flex;
                            align-items: left;
                            justify-content: left;

                            .datasecurity-img{
                                height: 100%;
                                width: 100%;    
                                object-fit: contain;
                            }
                        }
                }
            
                }
            }
        }
    }
   
    @media(min-width: 1024px){
        .outer-layer{
            .objectives-first-container{
                .objectives-section{
                    height: 58.9375rem;

                    .objectives-content{
                        display: flex;
                        max-width: 100%;
                        min-height: 40rem;
                        margin-left: 1rem;
                        align-items: center;  /* Vertically center the content */
                        justify-content: center;  /* Horizontally center the content */
                        margin: 0 0.38rem 0 1rem;
                        // border: solid black 1px;
                    
                    
                        .cybersecurity-img {
                            object-fit: contain;
                            width: 75%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1325px){
        .outer-layer{
            .objectives-first-container{
                .objectives-section{
                    height: 58.9375rem;

                    .objectives-content{
                        display: flex;
                        max-width: 100%;
                        min-height: 40rem;
                        margin-left: 1rem;
                        align-items: center;  /* Vertically center the content */
                        justify-content: center;  /* Horizontally center the content */
                        margin: 2.5rem 0.38rem 0 1rem;
                        // border: solid black 1px;
                    
                    
                        .cybersecurity-img {
                            object-fit: contain;
                            width: 75%;
                            height: 100%;
                        }
                    }
                    }
                }
            }
    }

    @media (min-width: 1440px){
        .outer-layer{
            .objectives-first-container{
                .objectives-section{
                    height: 72.9375rem;
                    .objectives-content{
                        // max-height: 3rem;
                        margin-top: 10rem;
                    }
            }
            }
        }
    }
    
    
    @media (min-width: 1920px){
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;;
        .outer-layer{
            width: 51%;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .objectives-first-container{
                align-items: center;
                justify-content: center;
                display: flex;
                .objectives-section{
                    min-width: 50vw;
                    position: relative;
                    height: 65rem;

                    .objectives-header{
                        display: flex;
                        position: relative;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        align-items: center;
                        justify-content: center;
                        margin: 0 0.19rem 0 0.19rem;
                    }

                    .objectives-content{
                        // max-height: 2rem;
                        margin-top: 7rem;
                    }
                }
            }
            .objectives-second-container{
                align-items: center;
                justify-content: center;
                display: flex;
                
                .objectives-info-section{
                    max-width: 50vw;
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    .usersafety-header{
                        margin: 2rem 1.31rem 0 1.31rem;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        h2{
                                min-width: 20.5625rem;
                                min-height: 8.875rem;
                                display: flex;
                                color: #52CAC8;
                                font-weight: 700;
                            }
                    }
                    .privacy-header{
                        margin: 0 8.06rem 0 8.06rem;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        h2{
                            color: #52CAC8;
                            font-weight: 700;
                        }
                    }
                    .datasecurity-header{
                        display: flex;
                        text-align: center;

                        h2{
                            color: #52CAC8;
                            font-weight: 700;
                        }
                    }
                    .usersafety-content{
                        p{
                            color: #000;
                            // text-align: center;
                            font-weight: 500;
                            line-height: normal;
                        }
                    }
                    .usersafety-img-container{
                        min-width: 38.21656rem;
                        min-height: 20.18113rem;
                        .safety-img{
                            // margin: 0 1.64rem 0 2.62rem;                    
                            object-fit: contain;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .privacy-content{
                        text-align: center;
                        p{
                            color: #000;
                            font-weight: 500;
                            line-height: normal;
                            margin: 0 1rem 0 1rem;
                        }
                    }
                    .privacy-img-container{
                        min-width: 40.01575rem;
                        min-height: 30.25rem;
                        .privacy-img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .datasecurity-content{
                        margin-right: 0.25rem;
                        margin-left: 0.44rem;
                        text-align: center;

                        p{
                            color: #000;
                            font-weight: 500;
                            line-height: normal;
                            min-width: 17.75rem;
                            min-height: 19.25rem;
                        }
                    }
                    .datasecurity-img-container{
                        min-width: 15.54138rem;
                        min-height: 14.22156rem;
                        .datasecurity-img{
                            height: 100%;
                            width: 100%;    
                            object-fit: contain;
                        }
                    }
                    
                }
            }
        }
    }
}
    
