@font-face {
  font-family: "THICCBOI-ExtraBold";
  src: url("../../utils/fonts/thiccboi/THICCCBOI-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "THICCBOI-SemiBold";
  src: url("../../utils/fonts/thiccboi/THICCCBOI-SemiBold.ttf") format("truetype");
}
.objectives-main-container {
  position: relative;
}
.objectives-main-container .outer-layer {
  padding: 0.99rem 0.63rem;
  margin: 1.31rem 0.44rem 0 0.44rem;
  min-width: 19.125rem;
  border-radius: 2.75rem;
  background: rgba(239, 243, 243, 0.7);
  position: relative;
  box-sizing: border-box;
  overflow-x: wrap;
}
.objectives-main-container .outer-layer .objectives-first-container .objectives-section {
  min-width: 17.875rem;
  max-width: 99.125rem;
  height: 29.625rem;
  display: flex;
  flex-direction: column;
  border-radius: 2.75rem;
  background: #FFF;
  position: relative;
  overflow: hidden;
}
.objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-header {
  display: flex;
  position: relative;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  align-items: center;
  justify-content: center;
  margin: -5rem 0.19rem 0 0.19rem;
}
.objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-header h1 {
  font-family: "THICCBOI-ExtraBold";
  font-size: 3.5rem;
}
.objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content {
  display: flex;
  min-width: 13.12144rem;
  max-height: 12.11694rem;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  margin-left: 0.43rem;
  margin-right: 0.38rem;
}
.objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content .cybersecurity-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
@media (min-width: 425px) {
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content {
    min-width: 20.49556rem;
    min-height: 17.295rem;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content .cybersecurity-img {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 525px) {
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content {
    margin-top: 1.5rem;
  }
}
@media (min-width: 425px) {
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section {
    height: 34.696rem;
  }
}
@media (min-width: 768px) {
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section {
    height: 27.9375rem;
  }
}
.objectives-main-container .outer-layer .objectives-second-container {
  margin-top: 1.5rem;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section {
  min-width: 17.9375rem;
  flex-shrink: 0;
  min-height: auto;
  border-radius: 2.75rem;
  background: #FFF;
  position: relative;
  overflow: hidden;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-header {
  margin: 2.5rem 1.31rem 0 1.31rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-header h2 {
  display: flex;
  color: #52CAC8;
  font-size: 3rem;
  font-weight: 700;
  font-family: "THICCBOI-ExtraBold";
  text-wrap: wrap;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-header {
  margin: 0 0.62rem 0 0.69rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-header h2 {
  color: #52CAC8;
  font-family: "THICCBOI-ExtraBold";
  font-size: 3rem;
  font-weight: 700;
}
@media (min-width: 425px) {
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-header {
    margin: 0 3.75rem 0 3.75rem;
  }
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-header {
  display: flex;
  text-align: center;
  justify-content: center;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-header h2 {
  color: #52CAC8;
  font-family: "THICCBOI-ExtraBold";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-content p {
  color: #000;
  text-align: center;
  font-family: "THICCBOI-SemiBold";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 0.19rem;
  margin-left: 0.62rem;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-img-container {
  min-width: 11.05069rem;
  min-height: 9.53206rem;
  margin: 1rem;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-img-container .safety-img {
  -o-object-fit: contain;
     object-fit: contain;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-content {
  text-align: center;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-content p {
  color: #000;
  font-family: "THICCBOI-SemiBold";
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin: 0 1rem 0 1rem;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-img-container {
  min-width: 17.125rem;
  min-height: 17.38694rem;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-img-container .privacy-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-content {
  margin-right: 0.25rem;
  margin-left: 0.44rem;
  text-align: center;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-content p {
  color: #000;
  font-family: "THICCBOI-SemiBold";
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  min-width: 17.75rem;
  min-height: 19.25rem;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-img-container {
  min-width: 15.54138rem;
  min-height: 14.22156rem;
  margin: 1rem;
}
.objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-img-container .datasecurity-img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section {
    min-width: 44.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 2.75rem;
    background: #FFF;
    position: relative;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-header {
    display: flex;
    position: relative;
    font-weight: 800;
    align-items: center;
    justify-content: center;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content {
    display: flex;
    min-width: 24.51844rem;
    min-height: 25.99056rem;
    margin-left: 1rem;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    margin-right: 0.38rem;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content .cybersecurity-img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 60%;
    height: 100%;
  }
  .objectives-main-container .outer-layer .objectives-second-container {
    margin-top: 2.25rem;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section {
    min-width: 44.5rem;
    border-radius: 2.75rem;
    background: #FFF;
    position: relative;
    overflow: hidden;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-header {
    margin: 1.5rem 1.64rem 0 1.62rem;
    text-align: left;
    justify-content: left;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-header h2 {
    min-width: 20.5625rem;
    min-height: 8.875rem;
    display: flex;
    color: #52CAC8;
    font-family: "THICCBOI-ExtraBold";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-header {
    margin: 0 1.64rem 0 1.62rem;
    display: flex;
    text-align: right;
    justify-content: right;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-header h2 {
    color: #52CAC8;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-header {
    margin: 0 1.64rem 0 1.62rem;
    text-align: left;
    justify-content: left;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-header h2 {
    color: #52CAC8;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-safety-container {
    display: flex;
    width: 100%;
    margin-top: -10%;
    align-items: center;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-safety-container p {
    color: #000;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 50%;
    margin-left: auto;
    margin-right: 1rem;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-safety-container .usersafety-img-container {
    min-width: 470%;
    min-height: 20rem;
    display: flex;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-safety-container .usersafety-img-container .safety-img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-privacy-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-privacy-container p {
    color: #000;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50%;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-privacy-container .privacy-img-container {
    min-width: 25rem;
    min-height: 30rem;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-privacy-container .privacy-img-container .privacy-img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-security-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-security-container p {
    color: #000;
    font-weight: 500;
    line-height: normal;
    min-width: 17.75rem;
    min-height: 19.25rem;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: 1rem;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-security-container .datasecurity-img-container {
    min-width: 200%;
    min-height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .alignment-security-container .datasecurity-img-container .datasecurity-img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 1024px) {
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section {
    height: 58.9375rem;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content {
    display: flex;
    max-width: 100%;
    min-height: 40rem;
    margin-left: 1rem;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    margin: 0 0.38rem 0 1rem;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content .cybersecurity-img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 75%;
    height: 100%;
  }
}
@media (min-width: 1325px) {
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section {
    height: 58.9375rem;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content {
    display: flex;
    max-width: 100%;
    min-height: 40rem;
    margin-left: 1rem;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    margin: 2.5rem 0.38rem 0 1rem;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content .cybersecurity-img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 75%;
    height: 100%;
  }
}
@media (min-width: 1440px) {
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section {
    height: 72.9375rem;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content {
    margin-top: 10rem;
  }
}
@media (min-width: 1920px) {
  .objectives-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .objectives-main-container .outer-layer {
    width: 51%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .objectives-main-container .outer-layer .objectives-first-container {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section {
    min-width: 50vw;
    position: relative;
    height: 65rem;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-header {
    display: flex;
    position: relative;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-items: center;
    justify-content: center;
    margin: 0 0.19rem 0 0.19rem;
  }
  .objectives-main-container .outer-layer .objectives-first-container .objectives-section .objectives-content {
    margin-top: 7rem;
  }
  .objectives-main-container .outer-layer .objectives-second-container {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-header {
    margin: 2rem 1.31rem 0 1.31rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-header h2 {
    min-width: 20.5625rem;
    min-height: 8.875rem;
    display: flex;
    color: #52CAC8;
    font-weight: 700;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-header {
    margin: 0 8.06rem 0 8.06rem;
    display: flex;
    text-align: center;
    align-items: center;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-header h2 {
    color: #52CAC8;
    font-weight: 700;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-header {
    display: flex;
    text-align: center;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-header h2 {
    color: #52CAC8;
    font-weight: 700;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-content p {
    color: #000;
    font-weight: 500;
    line-height: normal;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-img-container {
    min-width: 38.21656rem;
    min-height: 20.18113rem;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .usersafety-img-container .safety-img {
    -o-object-fit: contain;
       object-fit: contain;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-content {
    text-align: center;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-content p {
    color: #000;
    font-weight: 500;
    line-height: normal;
    margin: 0 1rem 0 1rem;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-img-container {
    min-width: 40.01575rem;
    min-height: 30.25rem;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .privacy-img-container .privacy-img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-content {
    margin-right: 0.25rem;
    margin-left: 0.44rem;
    text-align: center;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-content p {
    color: #000;
    font-weight: 500;
    line-height: normal;
    min-width: 17.75rem;
    min-height: 19.25rem;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-img-container {
    min-width: 15.54138rem;
    min-height: 14.22156rem;
  }
  .objectives-main-container .outer-layer .objectives-second-container .objectives-info-section .datasecurity-img-container .datasecurity-img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}/*# sourceMappingURL=objectives.css.map */